---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<nav id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
      {% assign links = site.data.navigation %}
      {% for link in links %}
          {% assign class = nil %}
          {% if page.url contains link.url %}
              {% assign class = 'active' %}
          {% endif %}
          {% if link.sublinks %}
              <li class="dropdown {{ class }}">
                  <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      {% for sublink in link.sublinks %}
                          {% if sublink.title == 'separator' %}
                              <li role="separator" class="divider"></li>
                          {% else %}
                              <li>
                                  <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              </li>
          {% else %}
              <li class="{{ class }}">
                  <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
              </li>
          {% endif %}
      {% endfor %}
  </ul>
</nav>